{% extends "main/base.html" %}
{% block title %}Thank you{% endblock %}

{% block content %}
    <h1>Thank you</h1>
    <p>Your order has been successfully completed. Your order number is
    {{ api.balance}}
    {{ cart.get_total_price }}
    <h1>Thank you</h1>
    <p>Your order has been successfully completed. Your order number is
        <strong>{{ order.id }}</strong>.</p>
    <iframe src="https://widget.qiwi.com/widgets/middle-widget-300x300?publicKey=48e7qUxn9T7RyYE1MVZswX1FRSbE6iyCj2gCRwwF3Dnh5XrasNTx3BGPiMsyXQFNKQhvukniQG8RTVhYm3iP4WR6avKBn7xVKw2Z4tQZT6mB95Uou1mfMoZDdHT3yQPZFWf1ehchE8vwpWgUmE74Y3ooV61eyiAFypoEXCYnMb5fTLJ6NXX6ac8rzUNwH&noCache=true" width="300" height="300"allowTransparency="true" scrolling="no" frameBorder="0"></iframe>

{% endblock %}