{% extends "main/base.html" %}
{% block user  %} <a class="nav__link" href="{% url 'profile' %}"> {{ user.username }} </a> {% endblock %}
{%  load static %}
{% block header_nav %}
<a class="nav__link" href="{% url 'category_shop:shop' %}">Shop</a>
<a class="nav__link" href="#">Support</a>
<a class="nav__link" href="{% url 'cart:cart_detail' %}">Корзина</a>
{% endblock header_nav %}
{% block body %}
<body class="body_2">
{% block content %}
    <div class="tanks">
        {% for tank in tanks %}
            <div class="tank">
            <ul>
                <li>{{ tank.title }}</li>
                <li> <img src="{{ tank.img.url }}" width="310px" height="160px"></li>
                <li>{{ tank.category }}</li>
                <hr>
                <li>{{ tank.discription }}</li>
                <hr>
                <li>price:{{ tank.price }}</li>


                <li><form action="{% url 'cart:cart_add' category tank.id %}" method="post">
                    {{ cart_product_form }}
                    {% csrf_token %}
                    <input type="submit" value="В корзину">
                </form></li>
            </ul>
            </div>
        {% endfor %}
    </div>
</body>
{% endblock content %}
{% endblock body %}